<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .title }}</title>
<script>
function storeValue() {
    // Retrieve key and value from input fields
    var key = document.getElementById('key').value;
    var value = document.getElementById('value').value;
    var data = {};
    data[key] = value;

    // Send POST request to store the key-value pair
    fetch('/store', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        alert('Data stored successfully!');
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}

function retrieveValue() {
    // Retrieve key from input field
    var key = document.getElementById('retrieveKey').value;

    // Send GET request to retrieve the value
    fetch('/retrieve/' + key)
    .then(response => response.json())
    .then(data => {
        var displayValue = document.getElementById('displayValue');
        if (data.error) {
            displayValue.innerText = 'Error: ' + data.error;
        } else {
            displayValue.innerText = 'Value: ' + data[key];
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}

// Prevent form from submitting; we'll handle data submission via JavaScript
function handleSubmit(event) {
    event.preventDefault();
}
</script>
</head>
<body>

<h2>Store a Key-Value Pair</h2>
<form onsubmit="handleSubmit(event)">
    <input type="text" id="key" placeholder="Enter key">
    <input type="text" id="value" placeholder="Enter value">
    <button type="submit" onclick="storeValue()">Store</button>
</form>

<h2>Retrieve a Value by Key</h2>
<form onsubmit="handleSubmit(event)">
    <input type="text" id="retrieveKey" placeholder="Enter key to retrieve">
    <button type="submit" onclick="retrieveValue()">Retrieve</button>
</form>

<p id="displayValue"></p>

</body>
</html>
